---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import DashboardGrid from '../components/DashboardGrid.astro';
import FounderSection from '../components/FounderSection.astro';
import FieldGallery from '../components/FieldGallery.astro';
import QuickLinks from '../components/QuickLinks.astro';
import Footer from '../components/Footer.astro';
---
<Base>
  <Header />
  <main>
    <Hero />
    <DashboardGrid />
    <FounderSection />
    <FieldGallery />
    <QuickLinks />
  </main>
  <Footer />
</Base>
